<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil  <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="profileImage">
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera  <ion-icon ios="ios-camera" md="md-camera"></ion-icon></button>
      <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria <ion-icon ios="ios-photos" md="md-photos"></ion-icon></button>
      <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon></button>
      <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem <ion-icon ios="ios-close" md="md-close"></ion-icon></button>
    </ion-item>
  </ion-card>
</ion-content>
